@using BasicMVCProject.ViewModels
@model List<CustomerOrderViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Customer && Orders</title>
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center" colspan="3">CUSTOMER</th>
                    <th class="text-center" colspan="4">ORDERS</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <!-- Her müşteri için döngü -->
                @foreach (var customerOrder in Model)
                {
                    var orderCount = customerOrder.Orders.Count;

                    <tr>
                        <th rowspan="@orderCount">@customerOrder.Customer.Id</th>
                        <td rowspan="@orderCount">@customerOrder.Customer.FirstName</td>
                        <td rowspan="@orderCount">@customerOrder.Customer.LastName</td>
                        <td rowspan="@orderCount">@customerOrder.Customer.Email</td>

                        <!-- İlk sipariş için -->
                        <td>@customerOrder.Orders[0].Id</td>
                        <td>@customerOrder.Orders[0].ProductName</td>
                        <td>@customerOrder.Orders[0].Price</td>
                        <td>@customerOrder.Orders[0].Quantity</td>
                    </tr>

                    <!-- Diğer siparişler için -->
                    @for (int i = 1; i < orderCount; i++)
                    {
                        <tr>
                            <td>@customerOrder.Orders[i].Id</td>
                            <td>@customerOrder.Orders[i].ProductName</td>
                            <td>@customerOrder.Orders[i].Price</td>
                            <td>@customerOrder.Orders[i].Quantity</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>